{
    "propertySettings.phoneIMEI": "865166020001684",
    "propertySettings.phoneIMSI": "460005574331343",
    "propertySettings.phoneSimSerial": "89860020670006146125",
    "propertySettings.phoneAndroidId": "ce8eb1bb0592b89c",
    "propertySettings.phoneModel": "m1 metal",
    "propertySettings.phoneManufacturer": "meizu",
    "propertySettings.macAddress": "00DB8F16EE2E",
    "statusSettings.sharedApplications": "C:/Users/Administrator/Documents/雷电模拟器/Applications",
    "statusSettings.sharedPictures": "C:/Users/Administrator/Documents/雷电模拟器/Pictures",
    "statusSettings.sharedMisc": "C:/Users/Administrator/Documents/雷电模拟器/Misc",
    "basicSettings.left": 0,
    "basicSettings.top": 0,
    "basicSettings.width": 0,
    "basicSettings.height": 0,
    "basicSettings.realHeigh": 0,
    "basicSettings.realWidth": 0,
    "networkSettings.networkEnable": true,
    "cache.gameAboutVersion": 181147,
    "basicSettings.rightToolBar": true,
    "basicSettings.mulFsAddSize": 0,
    "basicSettings.mulFsAutoSize": 2,
    "statusSettings.closeOption": 0,
    "networkSettings.networkInterface": "",
    "basicSettings.autoRun": false,
    "basicSettings.rootMode": true,
    "hotkeySettings.backKey": {
        "modifiers": 0,
        "key": 27
    },
    "hotkeySettings.homeKey": {
        "modifiers": 0,
        "key": 112
    },
    "hotkeySettings.appSwitchKey": {
        "modifiers": 0,
        "key": 113
    },
    "hotkeySettings.menuKey": {
        "modifiers": 0,
        "key": 114
    },
    "hotkeySettings.zoomInKey": {
        "modifiers": 0,
        "key": 115
    },
    "hotkeySettings.zoomOutKey": {
        "modifiers": 0,
        "key": 116
    },
    "hotkeySettings.bossKey": {
        "modifiers": 2,
        "key": 81
    },
    "hotkeySettings.shakeKey": {
        "modifiers": 0,
        "key": 120
    },
    "hotkeySettings.operationRecordKey": {
        "modifiers": 0,
        "key": 121
    },
    "hotkeySettings.fullScreenKey": {
        "modifiers": 0,
        "key": 122
    },
    "hotkeySettings.showMappingKey": {
        "modifiers": 0,
        "key": 123
    },
    "hotkeySettings.videoRecordKey": {
        "modifiers": 2,
        "key": 112
    },
    "basicSettings.verticalSync": false,
    "advancedSettings.resolution": {
        "width": 1080,
        "height": 1920
    },
    "advancedSettings.resolutionDpi": 480,
    "advancedSettings.cpuCount": 2,
    "advancedSettings.memorySize": 2048,
    "propertySettings.phoneNumber": "",
    "basicSettings.autoRotate": true,
    "basicSettings.isForceLandscape": false,
    "basicSettings.lockWindow": false,
    "advancedSettings.micphoneName": "主声音捕获驱动程序",
    "advancedSettings.speakerName": "主声音驱动程序",
    "networkSettings.networkSwitching": false,
    "networkSettings.networkStatic": false,
    "networkSettings.networkAddress": "0.0.0.0",
    "networkSettings.networkGateway": "0.0.0.0",
    "networkSettings.networkSubnetMask": "255.255.255.0",
    "networkSettings.networkDNS1": "223.5.5.5",
    "networkSettings.networkDNS2": "114.114.114.114",
    "basicSettings.disableMouseFastOpt": true,
    "basicSettings.cjztdisableMouseFastOpt_new": 0,
    "basicSettings.HDRQuality": 0,
    "basicSettings.qjcjdisableMouseFast": 1
}